<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-9">
      <button type="button" class="list-group-item list-group-item-action active">
        Using Angular 2 Router
    </button>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let theme of themes | slice:0:11" >
          <img class="img-thumbnail" [src]="[theme.url]" />
          <a [routerLink]="theme.id">
            {{ theme.title }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>


