<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-9">
      <h1>Carousel</h1>
      <h3>A slideshow component for cycling through elements—images or slides of text—like a carousel. </h3>
      <div class="section bd-example">
        <app-carousel></app-carousel>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-md-offset-1  col-md-9">
        <h1>Accordion</h1>
        <h3>Displays collapsible content panels for presenting information in a limited amount of space</h3>
        <app-accordion></app-accordion>
      </div>
    </div>
</div>
