.bd-example {
  position:relative;
  padding: 1.5rem;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  border: .2rem solid #f7f7f9;
}

p {
  margin: 40px 20px;
}

.second-row {
  padding-right: 60px;
}
