<header class="navbar navbar-light navbar-toggleable-md bd-navbar">
  <nav class="container">
    <div class="collapse navbar-collapse" id="bd-main-nav">
      <ul class="nav navbar-nav">
        <li class="nav-item" *ngFor="let nav of navs">
          <a class="nav-item nav-link " [routerLink]="nav.url"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}"
          >{{nav.content}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="lazyload">Lazy Load</a>
        </li>

      </ul>
    </div>
  </nav>
</header>
