<div class="jumbotron" *ngIf="(userInfo | json) != '{}'">
  <h3>Username: {{userInfo.username}}</h3>
  <p>Name: {{userInfo.name}}</p>
  <p>Phone: {{userInfo.phone}}</p>
  <p>Address: {{userInfo.address.city}}</p>
  <p>Street: {{userInfo.address.street}}</p>
  <p>ZIP-code: {{userInfo.address.zipcode}}</p>
  <p>Company:  {{userInfo.company.name}}</p>
  <p>Catch Phrase: {{userInfo.company.catchPhrase}}</p>
  <p>WebSite: {{userInfo.website}}</p>
</div>
