<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-5">
      <h2>Enter your search:</h2>
      <div class="wrapper">
        <h2>
          <input (input)="term$.next($event.target.value)">
          <ul>
            <li *ngFor="let item of items">
              {{item}}
            </li>
          </ul>
        </h2>
      </div>
    </div>
  </div>
</div>

