<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-9">
      <div class="wrapper">
        <h1>Load Data Based on Angular 2 Route Params</h1>
        <h3>{{photo$.title}}</h3>
        <img class="img-responsive" [src]="[photo$.url]" />
      </div>
    </div>
  </div>
</div>
