<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-5">
      <button type="button" class="list-group-item list-group-item-action active">
        Passing data into components with @Input
      </button>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let user of users; let index = index" (click)="getDetailInfo(index)">
          <p>{{ user.name }}</p>
          <p>{{ user.email }}</p>
        </li>
      </ul>
    </div>
    <div class="col-md-offset-1 col-md-5">
      <app-detail [init]="detailInfo"></app-detail>
    </div>
  </div>
</div>

