<button type="button" class="btn btn-success pull-right" (click)="addAccordionGroup()">
  Add Content!
</button>
<accordion>
  <accordion-group heading="Static Header, initially expanded"
                   [isOpen]="status.isFirstOpen">
    This content is straight in the template.
  </accordion-group>
  <accordion-group
    *ngFor="let post of posts; let i = index; let even = even;"
    [heading]="post.title | uppercase"
    [isOpen]="status.isOpen"
  >
    <p [ngClass]="{'highlight': even}">{{ post?.body }}</p>
    <button type="button" class="btn btn-warning pull-right" (click)="removeAccordionGroup(i, post.id)">Remove</button>
  </accordion-group>
</accordion>
